*{
    margin:0;
    padding:0;

    
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
      
}

.header{
    min-height:100vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(components/banner.jpg);
    background-position: center;
    background-size:cover ;
    position: relative;

}


nav{
    display: flex;
    padding: 2% 6%; /*padding for navlinks and image given, left 6 */
    align-items: center;
    justify-content: space-between;  /*to give space between unordered list items and logo*/
    margin-right: 10px;
}


.nav-links ul{
    display: flex;
    list-style: none; /* we should apply this on "ul" and not "ul li"*/
}

.nav-links ul li{
    margin: 10px;
    
}

.nav-links a{
    text-decoration: none;
    color: white;

    

}
 /* H O  V E R   E F F E C T */
.logo-txt .b{
    transition:0.7s ease;
}

.logo-txt .b:hover{
    font-size: 30px;
}

.logo-txt .dot{
    transition:0.7s ease;
}

.logo-txt .dot:hover{
    font-size: 30px;
}

.logo-txt .s{
    transition:0.7s ease;
}

.logo-txt .s:hover{
    font-size: 29px;
}

.logo-txt .c{
    transition:0.7s ease;
}

.logo-txt .c:hover{
    font-size: 28px;
}

.logo-txt .h{
    transition:0.7s ease;
}

.logo-txt .h:hover{
    font-size: 27px;
}

.logo-txt .o{
    transition:0.7s ease;
}

.logo-txt .o:hover{
    font-size: 26px;
}

.logo-txt .oo{
    transition:0.7s ease;
}

.logo-txt .oo:hover{
    font-size: 25px;
}

.logo-txt .l{
    transition:0.7s ease;
}

.logo-txt .l:hover{
    font-size: 24px;
}
.logo-txt .e{
    transition:0.7s ease;
}

.logo-txt .e:hover{
    font-size: 23px;
}


.logo {
    text-decoration: none;
    color: white;
    font-size: 20px;

}
.nav-links a{
    transition: 0.6s;
}
.nav-links a:hover{
    font-size: 19px;
}

.main{
    /*these 4 lines ensure precise centering but requires careful consideration of positioning.  */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    
}




.heading{
    font-size: 70px;
    font-weight: 500;
   
    
}

.body{
    margin: 10px 0 40px;
}

.aboutus{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
    background-color: bisque;
    /* width: 100px;   inline element "a", thus doesn't take width and height
    height: 100px; */
    padding:15px 22px;
    text-decoration: none;
    color: white;
    cursor:pointer
}
nav .fa-minus-square-o,nav .fa-sort-desc{
    display: none;
}


@media(max-width: 700px){
    .main h1{
        font-size: 40px;
    }

    .aboutus{
        padding:10px 15px;
        font-size: 12px;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
       
        margin: 2px 12px 10px;
    }
    
    .nav-links{
        position: fixed;
        background:rgba(240,180,136,0.7)  ;
        height:100vh;
        width:200px;
        /*these 3 lines will create a new menu */
        top:0;
        right:0;
        text-align: left;
        z-index:2;
        transition: 1s;
        
    }
   
    nav .fa-minus-square-o,nav .fa-sort-desc{
        display: block;
        color:rgba(4,9,30,0.7);
        margin: 20px;
        font-size:22px;
        cursor: pointer;
    }

   

}


/* .nav-links a:hover {
    color: #007bff; 

    YET TO BE DONE
} 
*/  



/* <!-- -----A D M I S S I O N------  --> */

.admission{
    margin: 100px auto;
    width:80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(components/contactus.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    color: white;

}

.admission h1{
    margin-bottom: 40px;
}

@media(max-width: 700px){
    .admission h1{
        font-size: 20px;

    }

    
}

/* <!-- F O O T E R --> */

.footer{
    width:100%;
    text-align: center;
    margin-bottom: 40px;

}

.footer h4{
    margin: 20px;
    font-weight: 600;
    color:rgb(240,180,136)
}

.icons .fa{
    margin: 15px;
    color:rgb(240,180,136)

}
.name .fa{
    color:rgb(240,180,136);
    cursor:pointer;
}

.name{
    margin-top: 20px;
}



/* -----WHY US------ */

.sub-header{
    height: 50vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(components/aboutus.jpg);
    background-position: center;
    background-size: cover;

}

.sub-header h1{
    color: white;
    text-align: center;
    font-weight: 600;
    margin-top: 60px;
}

.final-about{
    width:80%;
    margin:auto;
    padding: 80px;
}

.about-col h1{
    padding-top: 0;
    font-weight: 500;
}

.about-col p{
    padding: 15px 0 30px;
}
.about-col img{
    width: 100%;
}


.row{
    display: flex;

}



/* CONTACT US */

.loc{
    width:80%;
    margin:auto;
    padding: 100px 0;

}

.loc iframe{
    width:100%;
}

.contactus{
    width:80%;
    margin:auto;
}

.contact-col{
    flex-basis:48%;
    margin-bottom:30px;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;

}

.contact-col div .fa{
    font-size: 28px;
    color: rgb(240,180,136);
    margin:10px;
    margin-right:30px;
}

.contact-col div h5{
    font-size: 15px;
}

.contact-col div p{
    font-size: 12px;
}

.contact-col input, .contact-col textarea{
    width:100%;
    padding:15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid rgb(240,180,136);
    /* box-sizing: border-box; */

}
/* @media(max-width: 700px){
    .contact-col form{
        WE HAVE TO MAKE THE FORM SHOW BELOW
    }
} */



/* A B O U T US  */

.aboutus-header{
    height: 50vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(components/admission1.jpg);
    background-position: center;
    background-size: cover;

}

.aboutus-header h1{
    color: white;
    text-align: center;
    font-weight: 600;
    margin-top: 60px;
}

.middle .body{
   
    padding: 10px 60px;
    width:50%;
}

.middle .body h2,.bottom .body h2{
    padding: 10px 0;
}

.middle,.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle img{
    width: 80%;
    padding: 50px;
    
}
.bottom img{
    width: 80%;
    padding: 50px;
    
}
.bottom .body{
    padding-right: 70px;
    width: 50%;
}

.bottom .endpara{
    padding-bottom: 40px;
}

/* .middle img:hover, .bottom img:hover{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
} */


/* ADMISSION */

.admission-header{
    height: 50vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(components/admission.jpg);
    background-position: center;
    background-size: cover;
}

.admission-header h1{
    color: white;
    text-align: center;
    font-weight: 600;
    margin-top: 60px;
}


.admission-col img{
    width: 70%;
    padding: 100px;
}
.admission-col h1{
    padding:120px 0 12px 0;

}


.admission-col div p{
    font-size: 12px;
}

.admission-col input, .admission-col textarea{
    width:80%;
    padding:15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid rgb(240,180,136);
    /* box-sizing: border-box; */

}

@media(max-width: 700px){
    .admission-col input, .admission-col textarea{
        width:50%;
        padding:15px;
        margin-bottom: 17px;
        outline: none;
        border: 1px solid rgb(240,180,136);
        /* box-sizing: border-box; */
    
    }
}